name: 'Semantic PR Check'

on:
  merge_group:
    types: [checks_requested]

  pull_request:
    branches:
      - master

jobs:
  main:
    name: Validate PR title and commit messages
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        if: github.event_name == 'pull_request'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          validateSingleCommit: true
          validateSingleCommitMatchesPrTitle: true

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: wagoid/commitlint-github-action@v5
